[submodule "optimized_dp"]
	path = optimized_dp
	url = https://github.com/CMU-IntentLab/optimized_dp
[submodule "safety_rl"]
	path = safety_rl
	url = https://github.com/CMU-IntentLab/safety_rl/
	branch = avoid_only
[submodule "vlm/llama-recipes"]
	url = https://github.com/CMU-IntentLab/llama-recipes.git
